*
!.gitignore
!products/
!products/apple.jpg
!products/banana.jpg
!products/carrot.jpg
!products/cheddar_cheese.jpg
!products/chicken_breast.jpg
!products/chocolate_cookies.jpg
!products/coffee.jpg
!products/croissant.jpg
!products/green_tea.jpg
!products/ice_cream.jpg
!products/lamb_chops.jpg
!products/milk.jpg
!products/pizza.jpg
!products/potato_chips.jpg
!products/potato.jpg
!products/quinoa.jpg
!products/rice.jpg
!products/salmon.jpg
!products/shrimp.jpg
!products/whole_wheat_bread.jpg